.container
    @apply w-full min-h-screen mix-blend-hard-light
    background-image: url('/assets/images/landing/hero-bg.png')
    background-size: auto 90%
    background-position: center bottom
    background-repeat: no-repeat