

.container
    position: relative
    height: 100vh
    overflow-y: scroll
    
.sidebar
    position: absolute
    left: 0
    width: 250px
    display: flex
    flex-flow: column
    height: 100%
    overflow-y: scroll
.content
    height: 100vh
    position: relative
